<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<th:block th:fragment="questionsInputs(question, questionnaire)">
  <div class="form-check" th:switch="${question.inputType}">
    <input th:required="required" class="form-control" type="text" minlength="2" th:case="'text'"
           th:field="${questionnaire.answers[__${itemStat.index}__].text}"/>

    <input th:required="required" class="form-control" type="email" th:case="'email'"
           th:field="${questionnaire.answers[__${itemStat.index}__].text}" />

    <input th:required="required" class="form-control" type="date" th:case="'date'"
           th:field="${questionnaire.answers[__${itemStat.index}__].text}" th:min="${question.options[0]}"
           th:max="${question.options[1]}" />

    <input th:required="required" class="form-control" type="tel" name="phone" pattern="\+7[0-9]{10}" placeholder="+79991234567"
           th:case="'tel'" th:field="${questionnaire.answers[__${itemStat.index}__].text}" />

    <input th:required="required" class="form-control col-4" type="number" th:case="'number'"
           th:field="${questionnaire.answers[__${itemStat.index}__].text}"
           th:min="${question.options[0]}"
           th:max="${question.options[1]}"
           th:step="${question.options.size() > 2? question.options[2] : '1'}" />

    <ul class="list-unstyled" th:case="'checkbox'">
      <li th:each="option, optionStat : ${question.options}">
        <input th:required="required" type="checkbox" th:value="${option}" class="form-check-input"
               th:field="${questionnaire.answers[__${itemStat.index}__].textList[__${optionStat.index}__]}"/>
        <label class="form-check-label" th:for="${question.id}" th:text="${option}">
        </label>
      </li>
    </ul>
    <ul class="list-unstyled" th:case="'radio'">
      <li th:each="option: ${question.options}">
        <input th:required="required" class="form-check-input" type="radio" name="text" th:value="${option}" th:id="${question.id}"
               th:field="${questionnaire.answers[__${itemStat.index}__].text}"/>
        <label class="form-check-label" th:for="${question.id}" th:text="${option}"> </label>
      </li>
    </ul>
  </div>
</th:block>
</body>