<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head (~{::title}, ~{}, ~{})">
  <title>Редактирование профиля пользователя</title>
</head>
<body>
<div th:replace="fragments/common :: header"></div>
<main class="jumbotron d-flex align-items-center bg-white m-0">
  <div class="container">
    <div class="row">
      <form class="col col-lg-6 mx-auto bg-light p-4 rounded shadow" method="post" th:action="@{/save_user_changes}">

        <div class="form-group row" th:hidden="true">
          <label class="col-sm-5 col-form-label">ID</label>
          <div class="col-sm-7">
            <input class="form-control" type="text" th:field="${user.id}"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Email</label>
          <div class="col-sm-7">
            <input class="form-control" type="text" th:field="${user.email}"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Роли</label>
          <div class="col-sm-7">
            <ul>
              <li th:each="role : ${allRoles}">
                <input type="checkbox" class="form-check-input"
                       th:value="${role.id}"
                       th:field="${user.roles}"/>
                <label class="form-check-label" th:text="${role.rolename}"></label>
              </li>
            </ul>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Имя</label>
          <div class="col-sm-7">
            <input class="form-control" type="text" th:field="${user.firstName}"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Фамилия</label>
          <div class="col-sm-7">
            <input class="form-control" type="text" th:field="${user.secondName}"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Пол</label>
          <div class="col-sm-7">
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" value="М"
                     th:field="${user.gender}"/>
              <label class="form-check-label"> М </label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" value="Ж"
                     th:field="${user.gender}"/>
              <label class="form-check-label"> Ж </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Телефон</label>
          <div class="col-sm-7">
            <input class="form-control" type="text" th:field="${user.phoneNumber}"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Активирован</label>
          <div class="col-sm-7">
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" name="gender" value="true" th:field="${user.activated}"/>
              <label class="form-check-label"> Да </label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" name="gender" value="false" th:field="${user.activated}"/>
              <label class="form-check-label"> Нет </label>
            </div>
            <!--<input class="form-control" type="text" th:field="${user.activated}"/>-->
          </div>
        </div>
        <div class="form-group m-2 d-flex justify-content-around">
          <button class="btn btn-primary" type="submit">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</main>
<footer th:replace="fragments/common :: footer"></footer>
<th:block th:replace="fragments/common :: bottomScripts"></th:block>
</body>
</html>