<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head (~{::title}, ~{}, ~{})">
  <title>Профиль</title>
</head>
<body>
<div th:replace="fragments/common :: header"></div>
<main class="jumbotron d-flex align-items-center bg-white m-0">
  <div class="container">
    <div class="row">
      <form class="col-md-8 mx-auto bg-light p-4 mb-2 rounded shadow" method="post" th:action="@{/editPersonalData}"
            th:object="${userForm}">
        <h1>Ваши данные</h1>
        <div class="form-group m-0">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Введите email"
                 required th:field="*{email}" disabled>
          <!--<div class="d-block" id="ajaxGetUserServletResponse">${nameErr}</div>-->
        </div>
        <div class="form-group m-0">
          <label>Ваше имя</label>
          <input type="text" class="form-control mb-2" placeholder="Введите имя" required th:field="*{firstName}">
          <p class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName Error</p>
          <label>Ваша фамилия</label>
          <input type="text" class="form-control mb-2" placeholder="Введите фамилию" required th:field="*{secondName}">
          <p class="text-danger" th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}">secondName
            Error</p>
          <label>Ваш телефон</label>
          <input type="tel" class="form-control mb-2" placeholder="Введите номер" required th:field="*{phoneNumber}">
          <p class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">phoneNumber
            Error</p>
          <th:block th:if="${doctor ne null}">
            <label>Ваш врач</label>
            <p><a href="#" th:href="@{/doctor/profile(doctorId=${doctor.id})}"
                  th:text="${doctor.user.fullName}">Врач</a></p>
          </th:block>
          <label>Ваша роль</label>
          <th:block th:each="role : ${userForm.roles}">
            <p class="form-control mb-2"  th:if="${role.rolename.contains('PATIENT')}">Пациент</p>
            <p class="form-control mb-2" th:if="${role.rolename.contains('DOCTOR')}">Доктор</p>
            <p class="form-control mb-2" th:if="${role.rolename.contains('ADMIN')}">Администратор</p>
            <p class="text-warning mb-2" th:if="${userForm.roles.size() eq 1}">
              <b>Вероятно Вы зарегистрировались с ролью врача или аналитика, но не обратались к администратору для
                активации аккаунта.<br>
                Обратитесь к администратору для Вашего подтверждения статуса.
              </b>
            </p>
          </th:block>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Изменить данные</button>
      </form>
    </div>
    <div class="row">
      <form class="col-md-8 mx-auto bg-light p-4 rounded shadow" method="post" th:action="@{/changePassword}"
            th:object="${userForm}">
        <h1>Изменение пароля</h1>
        <div class="form-group">
          <label for="oldPassword">Введите старый пароль</label>
          <input type="password" class="form-control" id="oldPassword" required
                 placeholder="Старый пароль" th:field="*{oldPassword}">
          <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Pass Error</p>
          <label for="inputPassword1">Введите новый пароль</label>
          <input type="password" class="form-control" id="inputPassword1" required
                 placeholder="Новый пароль" th:field="*{password}">
          <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Pass Error</p>
          <small>Минимальная длина пароля 7 символов</small>
          <br>
          <input type="password" class="form-control" id="inputPassword2" required placeholder="Повторите новый пароль"
                 th:field="*{passwordConfirm}">
        </div>
        <button type="submit" class="btn btn-danger btn-block">Изменить пароль</button>
      </form>
    </div>

  </div>
</main>
<footer th:replace="fragments/common :: footer"></footer>
<th:block th:replace="fragments/common :: bottomScripts"></th:block>
</body>
</html>