<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head (pageTitle='История тестов')"></head>
<body>
<div th:replace="fragments/common :: header"></div>
<main class="jumbotron d-flex align-items-center bg-white m-0">
  <div class="container">

    <div id="patientHistoryTable" sec:authorize="hasRole('PATIENT')" class="row">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Дата</th>
          <th scope="col">Статус</th>
          <th scope="col">Диагноз</th>
          <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="questionnaire, itemStat : ${questionnaires}">
          <th scope="row" th:text="${itemStat.count}">Номер</th>
          <td th:text="${#temporals.format(questionnaire.date, 'dd MMMM yyyy HH:mm')}">Дата</td>
          <td th:text="${questionnaire.processed} eq false? 'Не обработан': 'Обработан'">Статус</td>
          <td th:text="${questionnaire.diagnosis} eq null? 'Не установлен': ${questionnaire.diagnosis.getText()}">
            Диагноз
          </td>
          <td th:if="${questionnaire.processed} eq true" class="text-center">
            <a href="№" title="Посмотреть" th:href="@{/test/history/view(questionnaireId = ${questionnaire.id})}">
              <i class="far fa-eye mr-2"></i></a>
            <a href="№" title="Удалить"
               th:href="@{/test/history/edit(questionnaireId = ${questionnaire.id},action='delete')}">
              <i class="delete far fa-trash-alt"></i></a>
          </td>
          <td th:if="${questionnaire.processed} ne true" class="text-center">
            <a href="№" title="Редактировать"
               th:href="@{/test/history/edit(questionnaireId = ${questionnaire.id},action='edit')}">
              <i class="edit far fa-edit mr-2"></i></a>
            <a href="№" title="Удалить"
               th:href="@{/test/history/edit(questionnaireId = ${questionnaire.id},action='delete')}">
              <i class="delete far fa-trash-alt"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="row" id="doctortHistoryTable" sec:authorize="hasRole('DOCTOR')">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Дата</th>
          <th scope="col">ID</th>
          <th scope="col">Пол</th>
          <th scope="col">Возраст</th>
          <th scope="col">Имя пациента</th>
          <th scope="col">Статус</th>
          <th scope="col">Диагноз</th>
          <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="questionnaire, itemStat : ${questionnaires}">
          <th scope="row" th:text="${itemStat.count}">Номер</th>
          <td th:text="${#temporals.format(questionnaire.date, 'dd MMMM yyyy HH:mm')}">Дата</td>
          <td th:text="${questionnaire.getUser().getId()}">ID</td>
          <td th:text="${questionnaire.getUser().getGender()}">Пол</td>
          <td th:text="${questionnaire.getAnswers().get(0).text}">Возраст</td>
          <td th:text="${questionnaire.getUser().getFirstName()} + ' ' +${questionnaire.getUser().getSecondName()}">
            Имя
          </td>
          <td th:text="${questionnaire.processed} eq false? 'Не обработан': 'Обработан'">Статус</td>
          <td th:text="${questionnaire.diagnosis} eq null? 'Не установлен': ${questionnaire.diagnosis.getText()}">
            Диагноз
          </td>
          <td th:if="${questionnaire.processed} eq true" class="text-center">
            <a href="№" title="Посмотреть" th:href="@{/test/history/view(questionnaireId = ${questionnaire.id})}">
              <i class="far fa-eye mr-2"></i></a>
            <a href="№" title="Удалить"
               th:href="@{/test/history/edit(questionnaireId = ${questionnaire.id},action='delete')}">
              <i class="delete far fa-trash-alt"></i></a>
          </td>
          <td th:if="${questionnaire.processed} ne true" class="text-center">
            <a href="№" title="Редактировать"
               th:href="@{/test/history/edit(questionnaireId = ${questionnaire.id},action='edit')}">
              <i class="edit far fa-edit mr-2"></i></a>
            <a href="№" title="Удалить"
               th:href="@{/test/history/edit(questionnaireId = ${questionnaire.id},action='delete')}">
              <i class="delete far fa-trash-alt"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</main>
<footer th:replace="fragments/common :: footer"></footer>
<th:block th:replace="fragments/common :: bottomScripts"></th:block>
</body>
</html>