<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/common :: head (~{::title}, ~{}, ~{})">
  <title>Просмотр результатов теста</title>
</head>
<body>
<div th:replace="fragments/common :: header"></div>
<main class="d-flex align-items-center">
  <th:block th:replace="fragments/progress-bar :: progressBar"></th:block>
  <div class="container">
    <div class="row">
      <fieldset class="mx-auto col col-lg-8 p-md-4 px-0" th:disabled="true">
        <form class=" bg-light rounded shadow" name="myForm" id="mineForm" method="post">
          <h3 class="text-center" th:text="${questionnaire.type.description}"></h3>
          <div class="mb-2 p-1 rounded border">
            <!--            <h4 class="text-center text-warning" th:text="'Диагноз: ' + ${questionnaire.diagnosis.text}"></h4>-->
            <th:block th:each="result : ${questionnaire.scoreResults}">
              <h4 th:if="${result.score gt result.diagnosis.scoreForHigh}"
                  class="text-center text-danger"
                  th:text="'Высокая вероятность: ' + ${result.diagnosis.text}"
              ></h4>
              <h4 th:if="${result.score gt result.diagnosis.scoreForMid && result.score lt result.diagnosis.scoreForHigh}"
                  class="text-center text-warning"
                  th:text="'Средняя вероятность: ' + ${result.diagnosis.text}"
              ></h4>
              <h4 th:if="${result.score gt result.diagnosis.scoreForLow && result.score lt result.diagnosis.scoreForMid}"
                  class="text-center text-primary"
                  th:text="'Низкая вероятность: ' + ${result.diagnosis.text}"
              ></h4>
            </th:block>

          </div>
          <div class="mb-2 p-4 rounded border" th:each="category : ${categories}">
            <h4 class="text-center" th:text="${category}"></h4>
            <div th:each="question, itemStat : ${questions}" th:if="${question.category eq category}">
              <input type="hidden" th:value="${question.id}"
                     th:attr="name='answers[' + ${itemStat.index} + '].question.id'"
              />

              <label th:for="${question.id}" th:text="${question.description} "></label>
              <div th:replace="fragments/question-form :: questionsInputs(${question}, ${questionnaire})"></div>
            </div>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
</main>

<footer th:replace="fragments/common :: footer"></footer>
<th:block th:replace="fragments/common :: bottomScripts"></th:block>
</body>
</html>