<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/common :: head (~{::title}, ~{}, ~{})">
  <title>Редактирование тестов</title>
</head>
<body>
<div th:replace="fragments/common :: header"></div>
<main class="jumbotron d-flex align-items-center bg-white m-0">
  <div class="container">
    <div class="row">
      <form class="col col-lg-8 mx-auto bg-light p-md-4 shadow rounded was-validated" id="testForm"
            method="post"
            th:object="${questionnaire}"
            th:action="@{/test(isNew=false, patientId=${#request.getParameter('patientId')}, questionnaireId=*{id})}">
        <h3 class="text-center" th:text="*{type.description}"></h3>
        <input type="hidden" th:field="*{type.id}" />
        <div class="mb-2 p-2 rounded border" th:each="category : ${categories}">
          <h3 class="text-center" th:text="${category}"></h3>
          <div th:each="question, itemStat : *{type.questions}" th:if="${question.category eq category}">

            <input type="hidden" th:value="${question.id}"
                   th:attr="name='answers[' + ${itemStat.index} + '].question.id'" />
            <input type="hidden" th:value="${questionnaire.answers[__${itemStat.index}__].id}"
                   th:attr="name='answers[' + ${itemStat.index} + '].id'" />

            <label th:for="${question.id}" th:text="${question.text} "></label>
            <div th:replace="fragments/question-form :: questionsInputs(${question}, ${questionnaire})"></div>

          </div>
        </div>
        <div class="form-group m-2 d-flex justify-content-around">
          <button class="btn btn-secondary" type="submit" id="saveTestButton">Сохранить</button>
          <button class="btn btn-primary" type="submit" id="operateTestButton" title="Необходимо заполнить все поля"
                  th:formaction="@{/operate_test(isNew=false, patientId=${#request.getParameter('patientId')}, questionnaireId=${questionnaire.id})}">
            Обработать
          </button>
        </div>
      </form>
    </div>
  </div>
</main>

<footer th:replace="fragments/common :: footer"></footer>
<th:block th:replace="fragments/common :: bottomScripts"></th:block>
</body>
</html>