<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head (~{::title}, ~{::link}, ~{::script})">
  <title>История тестов</title>
  <!--DataTables-->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8"
          src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
</head>
<body>
<div th:replace="fragments/common :: header"></div>
<main class="jumbotron d-flex align-items-center bg-white m-0">
  <div class="container">
    <!--DATATABLES-->
    <table class="table table-striped shadow" id="patientHistoryTable" sec:authorize="hasRole('PATIENT')">
      <thead>
      <input type="checkbox">
      <tr>
        <th class="text-center">Дата</th>
        <th class="text-center">Статус</th>
        <th class="text-center">Диагноз</th>
        <th class="text-center">Редактировать</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="questionnaire, itemStat : ${questionnaires}">
        <td class="text-center" th:data-order="${#temporals.format(questionnaire.date)}"
            th:text="${#temporals.format(questionnaire.date, 'dd.MM.yy HH:mm')}">Дата</td>
        <td class="text-center" th:text="${questionnaire.processed} eq false? 'Не обработан': 'Обработан'">Статус</td>
        <td class="text-center" th:text="${questionnaire.diagnosis} eq null? 'Не установлен': ${questionnaire.diagnosis.text}"></td>
        <td class="text-center" th:if="${questionnaire.processed} eq true">
          <a href="#" title="Посмотреть" th:href="@{/test/view(questionnaireId = ${questionnaire.id})}">
            <i class="far fa-eye mr-2"></i></a>
          <a href="#" title="Удалить"
             th:href="@{/test/edit(questionnaireId = ${questionnaire.id},action='delete')}">
            <i class="delete far fa-trash-alt"></i></a>
        </td>
        <td th:if="${questionnaire.processed} ne true" class="text-center">
          <a href="#" title="Редактировать"
             th:href="@{/test/edit(questionnaireId = ${questionnaire.id},action='edit')}">
            <i class="edit far fa-edit mr-2"></i></a>
          <a href="#" title="Удалить"
             th:href="@{/test/edit(questionnaireId = ${questionnaire.id},action='delete')}">
            <i class="delete far fa-trash-alt"></i></a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th class="text-center">Дата</th>
        <th class="text-center">Статус</th>
        <th class="text-center">Диагноз</th>
        <th class="text-center">Редактировать</th>
      </tr>
      </tfoot>
    </table>

    <table class="table table-striped shadow" id="doctorHistoryTable" sec:authorize="hasRole('DOCTOR')">
      <thead>
      <tr>
        <th class="text-center">Дата</th>
        <th class="text-center">ID</th>
        <th class="text-center">Имя пациента</th>
        <th class="text-center">Пол</th>
        <th class="text-center">Возраст</th>
        <th class="text-center">Статус</th>
        <th class="text-center">Диагноз</th>
        <th class="text-center">Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="questionnaire, itemStat : ${questionnaires}">
        <td class="text-center" th:data-order="${#temporals.format(questionnaire.date)}"
            th:text="${#temporals.format(questionnaire.date, 'dd.MM.yy HH:mm')}">Дата</td>
        <td class="text-center" th:text="${questionnaire.getUser().getId()}">ID</td>
        <td class="text-center"
            th:text="${questionnaire.getUser().getFirstName()} + ' ' +${questionnaire.getUser().getSecondName()}">
          Имя
        </td>
        <td class="text-center" th:text="${questionnaire.getUser().getGender()}">Пол</td>
        <td class="text-center" th:text="${questionnaire.getAnswers().get(0).text}">Возраст</td>

        <td class="text-center" th:text="${questionnaire.processed} eq false? 'Не обработан': 'Обработан'">Статус</td>
        <td class="text-center"
            th:text="${questionnaire.diagnosis} eq null? 'Не установлен': ${questionnaire.diagnosis.getText()}">
          Диагноз
        </td>
        <td class="text-center" th:if="${questionnaire.processed} eq true">
          <a href="#" title="Посмотреть" th:href="@{/test/view(questionnaireId = ${questionnaire.id})}">
            <i class="far fa-eye mr-2"></i></a>
          <a href="#" title="Удалить"
             th:href="@{/test/edit(questionnaireId = ${questionnaire.id},action='delete')}">
            <i class="delete far fa-trash-alt"></i></a>
        </td>
        <td class="text-center" th:if="${questionnaire.processed} ne true">
          <a href="#" title="Редактировать"
             th:href="@{/test/edit(questionnaireId = ${questionnaire.id},action='edit')}">
            <i class="edit far fa-edit mr-2"></i></a>
          <a href="#" title="Удалить"
             th:href="@{/test/edit(questionnaireId = ${questionnaire.id},action='delete')}">
            <i class="delete far fa-trash-alt"></i></a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th class="text-center">Дата</th>
        <th class="text-center">ID</th>
        <th class="text-center">Имя пациента</th>
        <th class="text-center">Пол</th>
        <th class="text-center">Возраст</th>
        <th class="text-center">Статус</th>
        <th class="text-center">Диагноз</th>
        <th class="text-center">Действия</th>
      </tr>
      </tfoot>
    </table>

  </div>
</main>
<footer th:replace="fragments/common :: footer"></footer>
<th:block th:replace="fragments/common :: bottomScripts"></th:block>
</body>
</html>