<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head (~{::title}, ~{}, ~{})">
  <title>Редактирование тестов</title>
</head>
<body>
<div th:replace="fragments/common :: header"></div>
<main class="jumbotron d-flex align-items-center bg-white m-0">
  <div class="container">
    <div class="row">
      <form class="col col-lg-8 mx-auto bg-light p-4 shadow rounded was-validated" id="testForm"
            method="post"
            th:field="${questionnaire}"
            th:action="@{/test(isNew=false, patientId=${#request.getParameter('patientId')}, questionnaireId=${questionnaire.id})}">

        <div class="mb-2 p-2 rounded border" th:each="category : ${categories}">
          <h3 class="text-center" th:text="${category}"></h3>
          <div th:each="question, itemStat : ${questions}" th:if="${question.category eq category}">
          <input type="hidden" th:value="${question.id}"
                   th:attr="name='answers[' + ${itemStat.index} + '].question.id'">
            <input type="hidden" th:value="${questionnaire.answers[__${itemStat.index}__].id}"
                   th:attr="name='answers[' + ${itemStat.index} + '].id'">

            <label th:for="${question.id}" th:text="${itemStat.count} + ' ' + ${question.text} "></label>
            <div th:replace="fragments/question-form :: questionsInputs(${question}, ${questionnaire})"></div>

            <!--<div class="form-check" th:switch="${question.inputType}">
              <input required class="form-control" type="text" th:case="'text'"
                     th:field="${questionnaire.answers[__${itemStat.index}__].text}"/>
              <input required class="form-control" type="email" th:case="'email'"
                     th:field="${questionnaire.answers[__${itemStat.index}__].text}">

              <input required class="form-control" type="date" th:case="'date'"
                     th:field="${questionnaire.answers[__${itemStat.index}__].text}" th:min="${question.options[0]}"
                     th:max="${question.options[1]}">

              <input required class="form-control" type="tel" name="phone" pattern="\+7[0-9]{10}" placeholder="+79991234567"
                     th:case="'tel'" th:field="${questionnaire.answers[__${itemStat.index}__].text}">

              <input required class="form-control col-4" type="number" th:case="'number'"
                     th:field="${questionnaire.answers[__${itemStat.index}__].text}"
                     th:min="${question.options[0]}" th:max="${question.options[1]}">

              <ul class="list-unstyled" th:case="'checkbox'">
                <li th:each="option, optionStat : ${question.options}">
                  <input required class="form-check-input" type="checkbox" th:value="${option}"
                         th:field="${questionnaire.answers[__${itemStat.index}__].textList[__${optionStat.index}__]}"/>
                  <label class="form-check-label" th:for="${question.id}" th:text="${option}">
                  </label>
                </li>
              </ul>
              <ul class="list-unstyled" th:case="'radio'">
                <li th:each="option: ${question.options}">
                  <input required class="form-check-input" type="radio" name="text" th:value="${option}" th:id="${question.id}"
                         th:field="${questionnaire.answers[__${itemStat.index}__].text}"/>
                  <label class="form-check-label" th:for="${question.id}" th:text="${option}"> </label>
                </li>
              </ul>
            </div>-->
          </div>
        </div>
        <div class="form-group m-2 d-flex justify-content-around">
          <button class="btn btn-secondary" type="submit" id="saveTestButton">Сохранить</button>
          <button class="btn btn-primary" type="submit" id="operateTestButton" title="Необходимо заполнить все поля"
                  th:formaction="@{/operate_test(isNew=false, patientId=${#request.getParameter('patientId')}, questionnaireId=${questionnaire.id})}">
            Обработать
          </button>
        </div>
      </form>
    </div>
  </div>
</main>

<footer th:replace="fragments/common :: footer"></footer>
<th:block th:replace="fragments/common :: bottomScripts"></th:block>
</body>
</html>