<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/common :: head (~{::title}, ~{}, ~{})">
  <title>Просмотр результатов теста</title>
</head>
<body>
<div th:replace="fragments/common :: header"></div>
<main class="jumbotron d-flex align-items-center bg-white m-0">
  <div class="container">
    <div class="row">
      <fieldset class="mx-auto col col-lg-8" disabled>
        <form class=" bg-light p-4 rounded shadow" name="myForm" id="mineForm" method="post">
          <h1 class="text-center" th:text="${questionnaire.type.description}"></h1>
          <div class="mb-2 p-2 rounded border" th:each="category : ${categories}">
            <h3 class="text-center" th:text="${category}"></h3>
            <div th:each="question, itemStat : ${questions}" th:if="${question.category eq category}">
              <input type="hidden" th:value="${question.id}"
                     th:attr="name='answers[' + ${itemStat.index} + '].question.id'">

              <label th:for="${question.id}" th:text="${question.description} "></label>
              <div th:replace="fragments/question-form :: questionsInputs(${question}, ${questionnaire})"></div>
            </div>
          </div>

        </form>
      </fieldset>
    </div>
  </div>
</main>

<footer th:replace="fragments/common :: footer"></footer>
<th:block th:replace="fragments/common :: bottomScripts"></th:block>
</body>
</html>